// namespace
$ns: "fun-" !default;

// Screen size

$screen-xs: 480px !default;
$screen-sm: 768px !default;
$screen-md: 922px !default;
$screen-lg: 1200px !default;


// Grid
$grid-columns: 12 !default;

$grid-gutter-width:         30px !default;